<%- include ("../partials/header") -%>

<div id="start" class="navbar-offset-top min100vh structure d-flex align-items-center">
  <div class="start-box container mr-5">
    <div class="">
      <h4 class="p2 p3">Start /></h4>
      <h1 class="mast-head p1">Hi, my name is <span class="name">Sun</span></h1>
      <p class="mast-head p1">
        I <i><span class="mast-head design p3">design</span></i> and develop
        website
      </p>
      <p class="start">Let see my work...</p>
    </div>
  </div>
</div>

<%- include ("../portfolio/work") -%> <%- include ("../portfolio/about") -%> <%-
include ("../portfolio/contact") -%><%- include ("../partials/footer") -%>