<%- include ("../partials/header") -%>

<div id="start" class="top-jumbotron">
  <header class="structure container">
    <div class="timeline">
      <h4 class="p2 p3">Start /></h4>

      <h1 class="p1">Hi, my name is <span class="name">Sun</span></h1>
      <p class="p1">
        I <i><span class="design p3">design</span></i> and develop website
      </p>
      <p class="start">Let see my work...</p>
    </div>
  </header>
</div>

<%- include ("../portfolio/work") -%> <%- include ("../portfolio/about") -%> <%-
include ("../portfolio/contact") -%><%- include ("../partials/footer") -%>
